<%= form_for [@game, @comment] do |f| %>
    <p class="comments">
        <%= f.label :body, 'Comment' %></br>
        <%= f.text_area :body %>
    </p>
    <p class="comments"><%= f.submit  "Submit Comment" %></p>
<% end %>