<div class="center jumbotron">
    <h1>Game index!</h1>

</div>

<ul class="container">
    <li><img src="https://i.imgur.com/52oUsgK.jpg" alt=""/>Alan Wake</li>
    <li><img src="https://i.imgur.com/Gv1humP.jpg" alt=""/>BattleField 1</li>
    <li><img src="https://i.imgur.com/5VxoPNn.jpg" alt=""/>Dark Souls III </li>
    <li><img src="https://i.imgur.com/I6qYuhW.jpg" alt=""/>Modern Warfare 2</li>
    <li><img src="https://i.imgur.com/9JTTpIT.jpg" alt=""/>Fortnite</li>
    <li><img src="https://i.imgur.com/m1J0HJM.jpg" alt=""/>Overwatch</li>
</ul>

