body {
  margin: 0;
  background-color: grey;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

h1 {
  color: lavenderblush;
}

h4 {
  white-space: wrap;
  color: #2A2EB1;
  text-align: left;
  line-height: 23px;
  margin: 20px;
  border: 1px solid black;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

h5 {
  color: purple;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 30%;
}

a img {
  margin:0 auto;
  display:block;
}

p {
  color: black;
  text-align: center;
}

ul .container {
  text-align: center;
  font-size: 10px;
}


.gallery {
  margin:0 auto;
  display:block;
}

.selector-for-some-widget {
  box-sizing: content-box;
  }

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: monospace;
  width: 150px;
  height: 100px;
}

img.like-icon, img.unlike-icon {
  height: 98px;
  width: auto;
}