body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  font-size: 20px;
  margin: 25px 50px 20px 80px;
  padding: 75px;
}

h1 {
  text-align: left;
  color: white;
  font-family: 'Amaranth', sans-serif;
  font-family: 'Bungee Inline', cursive;
}

h4 {
  align-content: right;
  color: white;
  line-height: 23px;
  margin: 30px 50px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

h5 {
  color: purple;
}

img {
  float: left;
  width: 40%;
  height: auto;
}

p {
  text-align: center;
  color: white;
  padding: 15px;
}

a {
  position: justify;
  text-align: left;
}

li {
  text-align: right;
}

h1.main {
  text-align: center;
}

p.account {
  text-align: center;
}

.comments {
  float: right;
}

.gallery {
  margin: 0 auto;
  display: block;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  background-color: black;
  color: #f2f2f2;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black; 
}

img.like-icon, img.unlike-icon {
  align-content: left;
  background-color: white;
  height: 98px;
  width: auto;
  opacity: 0.4;
}